tests
coverage
jest.config.ts
jest.config.d.ts

.github

*.md

.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json
.husky

yarn-error.log

src
!dist/src

webpack.config.ts
webpack.config.d.ts
tsconfig.json